body{
    /*font-size: 1em;*/
    padding: 0px;
    margin: 0px;
    font-family: "Microsoft YaHei",Serif;
    /*width:480px;
    height: 800px;*/
    font-size: 62.5%;
    /*position: absolute;
    left:50%;
    margin-left: -240px;*/
 }

.hide{
  display: none;
}

/*搜索框*/
    .searchAim{
        padding: 0.5em 0.5em;
        margin: 3em 4em 0em;
    }
    .input-group .form-control {
      width:100%;
    }

/*热门推荐副标题*/
    .subTitle{
        color:#FF9D00;
        font-size: 2.1em;
        text-align: center;
    }
    .searchList{
      margin: 1em 4em;
    }

    .attr_search{
      margin: 0em 1em 1em;    
    }
    .pro_search h2{
      font-size: 2.7em;
      font-weight: bold;
    }
    .pro_search{
      margin:2.5em 0 0.6em 0;
    }
    .row a{
      color: #525D6B;
    }
    .searchResult{
      /*width:80%;*/
      width: 100%;
    }
    .searchResult .row{
      margin: 3em 3em auto;
    }
    .searchResult p{
      font-size: 4em;
      font-weight: bold;
      margin: 2em auto 0em;
    }
    .col-xs-3 p{
      font-size: 2.1em;
      margin: 0.7em 0.1em auto 0em;
    }
    .hide{
      display: none;
    }
    .nullResult{
      font-size: 1em;
      margin: 3em auto;
      text-align: center;
    }
    #btn{
      background-color: #FF9D00;
      color: #FFF;
      font-weight:bold;
      width: 5em;
       margin-bottom:2em;
    }
    .back{
         width: 3em;
         background-color: #FAFAFA;
         color: #FF9D00;
         margin-bottom: 2em;
         margin-left: -2em;
    }
  /*右对齐*/
    .right{
      text-align: right;
    }

    .col-lg-8{
      padding-left: 0px;
    }

@media only screen and (min-width: 500px) {

body{
   
    width:480px;
    height: 800px;
    position: absolute;
    left:50%;
    margin-left: -240px;
 }
    
  
}